<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="weather-card">
    <mat-card fxFlex="40">
        <h3>Today's Weather</h3>
        <p>
            Temperature : {{ this.weatherData?.current.temperature }}°C | Humidity : {{ this.weatherData?.current.humidity }}% | Precipitation : {{ this.weatherData?.current.precip }}%           
        <br></p>
        
        <span class="weather-span">Location: {{ searchLocation }}</span>
        <span class="weather-span fr-0">Results Provider : <a href="https://weatherstack.com/" target="_blank">WeatherStack</a></span>
    </mat-card>
    <mat-card fxFlex="60">
        <h3>Today's Air Quality</h3>
        <p>
            Air Quality Information (AQI) : {{ this.airData?.data.aqi }} | PM2.5 : {{ this.airData?.data.iaqi.pm25.v}} | SPM : {{ this.airData?.data.iaqi.p.v}}
        <br></p>
        <span class="weather-span">Location: {{ searchLocation }} | Index : micro-grams/cubic meter</span>
        <span class="weather-span fr-0">Results Provider : <a href="https://aqicn.org/" target="_blank">Aqicn</a></span>
    </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <app-data-charts [data]="bigChart"></app-data-charts>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="control-card">
    <mat-card fxFlex="25">
        <app-cards  label="Motor Pump 1" switchText="Turn On" toggleState="false"></app-cards>
    </mat-card>
    <mat-card fxFlex="25">
        <app-cards label="Motor Pump 2" switchText="Turn On" toggleState="false"></app-cards>
    </mat-card>
    <mat-card fxFlex="25">
        <app-cards label="Switch 3" switchText="Turn Off" toggleState="true"></app-cards>
    </mat-card>
    <mat-card fxFlex="25">
        <app-cards label="Switch 4" switchText="Turn Off" toggleState="true"></app-cards>
    </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
    <div class="table-1"></div>
    <div class="chart-2"></div>
</div>